cubi/modules/tool/xsd/OptionElement.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="OptionElement">
        <xsd:complexContent>
            <xsd:extension base="xsd:InputElement">
                <xs:attribute name="SelectFrom" type="xs:string" use=""/>
                <xs:attribute name="SelectFromSQL" type="xs:string" use=""/>
                <xs:attribute name="SelectedList" type="xs:string" use=""/>
             </xsd:extension>
        </xsd:complexContent>
    </xsd:element>
</xsd:schema>

